/**/
@media screen and (max-width:980px){
   .hero {
       width:80%;
   }

   /* contact */
}
/**/
@media screen and (max-width:768px){
    
   .hero {
       width:100%;
   }
}

/**/
@media screen and (max-width:575px){
    .hero {
        width:100%;
    }
}