.media-links {
    display:flex;
    flex-wrap:wrap;
    margin-left:15%;
}
.media-links > div {
    cursor:pointer;
    width:30px;

}
.iconlogo {
    margin: 0 5px 0 5px;
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position:center;
}   
.linkedin {
    background-image:url(../images/linkedin.svg);
}
.github {
    background-image:url(../images/github.svg);
}
.twiter {
    background-image:url(../images/twitter1.svg);
}
.facebook {
    background-image:url(../images/facebook.svg);
}
.designby {
    display:flex;
    width:200px;
    margin-right:10%;
    align-items:center;
    justify-content:center;
    background-color: antiquewhite;
}
.media-links > div:hover {
    background-color: aliceblue;
}