*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root {
    --main-color:#2296A8;
    --secondary-color:#0fd6f5;
    --title-color:#f5d800;
    --grid-color:#e79a1d;
    --backdrop-color:#541e64;
}
body{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color:rgb(10, 60, 73);
    font-family: 'Overlock', cursive; 
}

/* header */
header {
    width:100%;
    height:10vh;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    position:sticky;
    top:0;
    z-index:999;
    background-color:var(--main-color);
}

/* navi */
header nav {
      /*aid*/
   background-color: rgba(133, 125, 60, 0);
}
header nav ul {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    list-style:none;
    padding:10px;
}
header nav ul li{
    margin:5px;
    padding:8px;
}
header nav ul li a {
    padding:20px;
    margin:0 5px 0 5px;
    text-decoration:none;
    color:var(--title-color);
}
.title {
    display:flex;
    padding:20px;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.title h1 {
    padding:5px;
    font-size:38px;
    font-family: 'Charmonman', cursive;
    color:var(--title-color);
}
/**/

/* hero portfolio projects contact */
.hero {
    display:flex;
    flex-wrap:wrap;
    width:60%;
    margin:15px auto 15px auto;
}
/**/

/**/
.btn {
    cursor: pointer;
}
/**/



/* footer section */
footer {
    display:flex;
    justify-content:space-between;
    height:5vh;
    font-size:0.9rem;
    background-color:var(--main-color);
    width:100%;
}
.email {
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    background-color: var(--grid-color);
    background-image:url(../images/email.svg);
}
.phone {
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    background-color: var(--grid-color);
    background-image:url(../images/old-typical-phone.svg);
}
    
